:root {
    --Mobile-width: calc(100vw - 40px);
}

@media (max-width: 1100px)
{
    .container {
        max-width: 800px;
    }
}

@media (max-width: 800px)
{
    .container {
        max-width: 600px;
    }
    .slide--controls {
        padding: 60px;
    }
}

@media (max-width: 600px)
{
    .container {
        max-width: 500px;
    }
    .slide--controls {
        padding: 33px;
    }
}
@media (max-width: 500px)	/* MOBILE */
{
    .container {
        max-width: var(--Mobile-width);
    }
    .menu--mobile {
    	display: flex;
    }

    header.header nav.menu {
    	display: none;
    	justify-content: flex-end;
    	position: fixed;
    	top: 0;
    	right: 0;
    	bottom: 0;
    	left: 0;
    	background-color: var(--Background-rgba);
    }
    header.header nav.menu ul {
        flex-direction: column;
    	width: 250px;
    	height: 100%;
    	background-color: var(--White);
    	padding: 80px 0;
    	transition: var(--Transition);
    	margin-right: -100%;
    }
    header.header nav.menu ul li a {
    	color: var(--Brown);
    	font-size: 20px;
    }

    .work--images .image {
         display: flex;
         justify-content: center;
         align-items: flex-end;
    }   
    footer.footer .container {
        flex-direction: column;
        gap: 70px;
    }
    footer.footer .f--left .company--info .company--logo {
        align-items: center;
    }
    footer.footer .f--left .company--info .menu ul {
        flex-direction: column;
    }
    footer.footer .f--right {
        align-items: center;
    }

    section.slide {
        
    }
    section.slide .slide--content {
        flex-direction: column;
        height: 100%;
    }
    section.slide .slide--image {
        min-width: var(--Mobile-width);
        max-width: var(--Mobile-width);
        max-height: calc(100vw - 40vw);
    }
    section.slide .slide--controls {
        position: static !important;
        min-height: 100px;
        padding: 0 50px;
    }
    section.slide .slide--content .close--slide {
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 0;
    }
    
    section.contact .contact--content {
        width: var(--Mobile-width);
    }

}